<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

const breadcrumbs = ref([]);

router.beforeEach((to, from) => {
    breadcrumbs.value = Object.values(to.meta);
});
</script>

<template>
  <div class="breadcrumb">
    <a
      v-for="breadcrumbItem in breadcrumbs"
      :key="breadcrumbItem.title"
      class="breadcrumb-item"
      :href="breadcrumbItem.path ? breadcrumbItem.path:'javascript:void(0);'"
      :class="{'breadcrumb-item-cursor': breadcrumbItem.path}"
    >
      {{ breadcrumbItem.title }}
    </a>
  </div>
</template>

<style lang="less" scoped>
.breadcrumb {
    overflow: hidden;
    line-height: 50px;
    font-size: 14px;
    .breadcrumb-item {
        float: left;
        text-decoration: none;
        color: #333333;
        cursor: default;
        &:after {
            content: ">";
            padding: 0 4px;
        }
        &:last-child {
            &:after {
                content: "";
                padding: 0;
            }
        }
    }
    .breadcrumb-item-cursor {
        cursor:pointer;
        &:hover {
            color: #3e78c2;
        }
    }
}
</style>