<script>
import { onMounted, getCurrentInstance, ref } from "vue";
import { useI18n } from "vue-i18n";

export default {
    setup () {
        const internalInstance = getCurrentInstance();
        const $fetch = internalInstance.appContext.config.globalProperties.$fetch;
        const { t } = useI18n();
        const currentPage = ref(5);
        const pageSize = ref(100);
        const ImageList = ref([]);
        const value = ref();
        const count = ref(0);

        const getIsOpenAfterSale = () => {
            $fetch.apiTest.getIsOpenAfterSale().then(res => {
                if (res.code === 200) {
                    console.log(res);
                }
            }).catch(() => {
                console.log("error");
            });
        };

        const getReturnBack = () => {
            $fetch.apiTest.getReturnBack({ serviceId: "20325922" }).then(res => {
                if (res.code === 200) {
                    ImageList.value = res.data.rejectUrls;
                    console.log("ImageList", ImageList);
                }
            }).catch(() => {
                console.log("error");
            });
        };

        const changeNum = () => {
            console.log(count.value);
            count.value++;
        };

        onMounted(() => {
            getIsOpenAfterSale();
            getReturnBack();
        });

        return {
            value,
            t,
            currentPage,
            pageSize,
            ImageList,
            changeNum,
            count
        };
    }
};

</script>

<template>
  <h1>{{ $store.state.isLoading }}--{{ $filters.NumFormat(123245.00) }}--{{t("userName")}}</h1>
  <!-- <img v-for="(img, i) in ImageList" :key="i" v-lazy="{src: img}" /> -->
  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank">VSCode</a>
    +
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
  </p>

  <p>
    <a href="https://vitejs.dev/guide/features.html" target="_blank">
      Vite Documentation
    </a>
    |
    <a href="https://v3.vuejs.org/" target="_blank">Vue 3 Documentation</a>
  </p>
  <el-rate
    v-model="value"
    :texts="['oops', 'disappointed', 'normal', 'good', 'great']"
    show-text
  >
  </el-rate>
<el-pagination
    :page-size="20"
    :pager-count="11"
    layout="prev, pager, next, jumper"
    :total="1000"
  >
  </el-pagination>
  <el-button color="#626aef" style="color: white" @click="changeNum">Custom</el-button>
  <el-button color="#626aef" plain>Custom</el-button>

</template>

<style scoped lang="less">
a {
  color: #42b983;
}
.footer {
    transform: rotate(45deg);
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    transition: all .2s ease .1s;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #42b983;
  .h1 {
    color: red;
  }
  .h2 {
    color: blue;
  }
}
</style>
