<script setup>
import { onMounted, getCurrentInstance } from "vue";
import { useI18n } from "vue-i18n";
const internalInstance = getCurrentInstance();
const $fetch = internalInstance.appContext.config.globalProperties.$fetch;
const { t } = useI18n();
const getIsOpenAfterSale = () => {
    $fetch.apiTest.getIsOpenAfterSale().then(res => {
        if (res.code === 200) {
            console.log(res);
        }
    }).catch(() => {
        console.log("error");
    });
};
onMounted(() => {
    getIsOpenAfterSale();
});
</script>
<template>
  <div id="home">
    <div class="desc">
      <h2 class="title">
        {{ t("title") }}
      </h2>
      <p class="slogan">
        {{ t("slogan") }}
      </p>
    </div>
    <img
      src="http://fe.jd.id/img/indexImage.9d7c4500.png"
      alt="jdid-logo"
    >
  </div>
  <div>template下可无根节点</div>
</template>
<style scoped lang="less">
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg,#7e52fe,#4786ff);
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
    background-size: 100%;
    .desc {
        color: #ffffff;
        .title {
            margin-bottom: 30px;
        }
    }
    img {
        width: 500px;
        height: 346px;
    }
}
</style>