
<template>
  <div id="app">
    <Breadcrumb />
    <router-view />
    <Loading />
  </div>
</template>

<script setup>
import Loading from "@/components/loading/index.vue";
import Breadcrumb from "@/components/breadcrumb/index.vue";
</script>
